In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("25_cleaned.csv")

In [4]:
df["Class"].unique()

array(['AIML', 'COMPS A', 'COMPS B', 'EXTC A', 'EXTC B', 'DS'],
      dtype=object)

In [5]:
df["Class"].value_counts()

AIML       17
COMPS A    15
COMPS B    12
EXTC A     11
EXTC B      6
DS          6
Name: Class, dtype: int64

In [6]:
df["Internship Organization"].value_counts()

IIT Bombay                                 32
IIT Patna                                   9
Not doing in 6th Semester                   8
Swicthed to Industrial Job                  7
CDAC-Dr Leena                               2
Newel Technologies with Stipend             2
(UPSC/MPSC Aspirant)                        1
Not Eligible                                1
IIT BHU                                     1
CDAC-Prof Kapil Kant                        1
Probably Inhouse                            1
SPJIMR - Dr Sheila Roy & Dr Harit Joshi     1
IIM Sirmaur HP                              1
Name: Internship Organization, dtype: int64

In [7]:
df["IsIIT"] = df["Internship Organization"].str.contains("IIT", case=False)

In [8]:
df.head()

,No,Email,Name,UID,Class,Internship Organization,IsIIT
0,1,amey.agarwal@spit.ac.in,Amey Agarwal,2021600003,AIML,CDAC-Dr Leena,False
1,2,sarvesh.deshpande@spit.ac.in,Sarvesh Deshpande,2021600013,AIML,IIT Bombay,True
2,3,chaitya.dobariya@spit.ac.in,Chaitya Arun Dobariya,2021600017,AIML,IIT Bombay,True
3,4,sanika.gadkari@spit.ac.in,Sanika Gadkari,2021600018,AIML,IIT Patna,True
4,5,kevin.suvarna@spit.ac.in,Kevin Suvarna,2021600039,AIML,Not doing in 6th Semester,False

In [9]:
df.to_csv("25_cleaned.csv", index=False)